<!-- ************************** Cost tab mockup ************************** -->
<!-- ************************** Cost tab mockup ************************** -->
<!-- ************************** Cost tab mockup ************************** -->
<!-- <div class="k-custom-notification">
</div>

<kendo-grid #grid [data]="gridData" [selectable]="selectableSettings" [height]="420" [kendoGridSelectBy]="selectBy"
    [selectedKeys]="mySelection" (cellClick)="onCellClick($event)" (selectionChange)="onSelectionChange()">

    <kendo-grid-column field="symbol" title="" [width]="105"></kendo-grid-column>

    <kendo-grid-column class="price-col" field="price" title="Original" [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ (dataItem.volume_avg/10.0) | currency: 'USD' }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column class="price-col" field="price" title="Last Save" [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ (dataItem.volume/10.0) | currency: 'USD' }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column class="price-col" field="price" title="Now" [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ (dataItem.volume/10.0) | currency: 'USD' }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="day_change" title=" " [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
            <kendo-sparkline type="bar" [data]="dataItem.day_change" [tooltip]="{ visible: false }" [transitions]="true"
                [seriesDefaults]="{ labels: { background: 'none', visible: false, format: '' } }">
                <kendo-chart-area [opacity]="0" [width]="90"></kendo-chart-area>
                <kendo-chart-value-axis>
                    <kendo-chart-value-axis-item [min]="-20" [max]="20">
                    </kendo-chart-value-axis-item>
                </kendo-chart-value-axis>
            </kendo-sparkline>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column class="numeric-column" field="change_pct" title="%Change" [width]="60">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span
                [ngClass]="{ 'grid-cell-negative' : dataItem.change_pct > 0, 'grid-cell-positive' : dataItem.change_pct < 0 }">
                {{ dataItem.change_pct > 0 ? ('-' + dataItem.change_pct*2) : dataItem.change_pct*2 }}%
            </span>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="intraday" title="1-Week Trend" [width]="90" [sortable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <day-chart [data]="dataItem.intraday" [changePct]="dataItem.change_pct">
            </day-chart>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column></kendo-grid-column>

    <kendo-grid-excel fileName="Stocks.xlsx" [fetchData]="allData">
        <kendo-excelexport-column field="symbol" title="Symbol"></kendo-excelexport-column>
        <kendo-excelexport-column field="Name" title="Name"></kendo-excelexport-column>
    </kendo-grid-excel>
</kendo-grid>

<kendo-contextmenu #gridmenu [items]="items" (select)="onSelect($event)" [openOnClick]="{toggle:'click'}">
    <ng-template kendoMenuItemTemplate let-item="item" let-index="index">
        <span *ngIf="item.iconClass" [ngClass]="item.iconClass" class="chart-png"></span>
        <div class="menu-item">{{ item.text }}</div>
    </ng-template>
</kendo-contextmenu>

<kendo-window title="Stock Portfolio Details" *ngIf="opened" (close)="close()" [top]="150" [minWidth]="250"
    [width]="700" [height]="550">
    <window-component [data]="mySelection" [chartConfiguration]="chartConfiguration"></window-component>
</kendo-window> -->






<!-- ************************** Stats tab mockup ************************** -->
<!-- ************************** Stats tab mockup ************************** -->
<!-- ************************** Stats tab mockup ************************** -->


<div class="k-custom-notification">
</div>

<kendo-grid #grid [data]="gridData" [selectable]="selectableSettings" [height]="420" [kendoGridSelectBy]="selectBy"
    [selectedKeys]="mySelection" (cellClick)="onCellClick($event)" (selectionChange)="onSelectionChange()">

    <kendo-grid-column field="symbol" title="" [width]="120"></kendo-grid-column>

    <kendo-grid-column class="price-col" field="price" title="Original" [width]="60">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ (dataItem.price + dataItem.day_change) | number: '1.0-0' }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column class="price-col" field="price" title="Last Save" [width]="70">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ (dataItem.price) | number: '1.0-0' }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column class="price-col" field="price" title="Now" [width]="55">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ (dataItem.price) | number: '1.0-0' }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="day_change" title=" " [width]="90">
        <ng-template kendoGridCellTemplate let-dataItem>
            <kendo-sparkline type="bar" [data]="dataItem.day_change" [tooltip]="{ visible: false }" [transitions]="true"
                [seriesDefaults]="{ labels: { background: 'none', visible: false, format: '' } }">
                <kendo-chart-area [opacity]="0" [width]="90"></kendo-chart-area>
                <kendo-chart-value-axis>
                    <kendo-chart-value-axis-item [min]="-20" [max]="20">
                    </kendo-chart-value-axis-item>
                </kendo-chart-value-axis>
            </kendo-sparkline>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="change_pct" title="%Change" [width]="60">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span
                [ngClass]="{ 'grid-cell-negative' : dataItem.change_pct > 0, 'grid-cell-positive' : dataItem.change_pct < 0 }">
                {{ dataItem.change_pct > 0 ? ('-' + dataItem.change_pct) : dataItem.change_pct }}%
            </span>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="intraday" title="1-Week Trend" [width]="90" [sortable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <day-chart [data]="dataItem.intraday" [changePct]="dataItem.change_pct">
            </day-chart>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column></kendo-grid-column>

    <kendo-grid-excel fileName="Stocks.xlsx" [fetchData]="allData">
        <kendo-excelexport-column field="symbol" title="Symbol"></kendo-excelexport-column>
        <kendo-excelexport-column field="Name" title="Name"></kendo-excelexport-column>
    </kendo-grid-excel>
</kendo-grid>

<kendo-contextmenu #gridmenu [items]="items" (select)="onSelect($event)" [openOnClick]="{toggle:'click'}">
    <ng-template kendoMenuItemTemplate let-item="item" let-index="index">
        <span *ngIf="item.iconClass" [ngClass]="item.iconClass" class="chart-png"></span>
        <div class="menu-item">{{ item.text }}</div>
    </ng-template>
</kendo-contextmenu>

<kendo-window title="Stock Portfolio Details" *ngIf="opened" (close)="close()" [top]="150" [minWidth]="250"
    [width]="700" [height]="550">
    <window-component [data]="mySelection" [chartConfiguration]="chartConfiguration"></window-component>
</kendo-window>